/* ELEMENTS */

:root {
    --color-green: #38AF90;
    --color-light-gray: #F0F0F0;
    --color-pink: #DD7E92;
    --color-dark-gray: #383838;
    --color-gray: #797979;
    --color-white: #FFFF;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* CLASSES, IDS */

.nav-container {
    background-color: var(--color-green);
    height: 90px;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.60);
}

.nav-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-main a {
    color: var(--color-white);
    text-decoration: none;
}

.menu-items {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    color: var(--color-white);
    font-size: 0.1px;
    visibility: hidden;
}

.nav-brand {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.news-container {
    padding: 10px;
    margin-bottom: 30px;
}

.title-news {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-gray);
    text-align: center;
}

.title-card {
    color: var(--color-green);
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.card-news {
    background-color: var(--color-light-gray);
    color: var(--color-gray);
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.60);
    display: flex;
    flex-direction: column;
    font-size: 10px;
    border-radius: 8px;
    padding: 16px 15px 10px 15px;
    margin-bottom: 30px;
}

.card-header {
    font-size: 12px;
    font-weight: 700;
}

.line {
    height: 1px;
    background-color: var(--color-green);
}

.card-date {
    color: var(--color-green);
    margin-top: 1px;
    margin-bottom: 3px;
}

.more {
    color: var(--color-pink);
    margin: 5px 0 5px 0;
    cursor: pointer;
}

.button-more {
    width: 244px;
    height: 67px;
    background-color: var(--color-pink);
    border-radius: 8px;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.button-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.game-container {
    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.title-game-news {
    color: var(--color-green);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 40px;
}

.title-game {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
}

.image-game {
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 0px 4px
}

.card-game {
    background-color: var(--color-white);
    color: var(--color-gray);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.60);
    display: flex;
    flex-direction: column;
    font-size: 10px;
    border-radius: 0 0 8px 8px;
    padding: 0px 15px 10px 15px;
    margin-bottom: 30px;
}

.game-description {
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.game-description span {
    color: var(--color-green);
    font-weight: 700;
}

.game-score {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-green);
    text-align: center;
    margin: 0 0 10px 0;
}

.form-container {
    padding: 10px;
}

.form-subscribe {
    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}